driver:
  imageSecurityContext:
    appArmorProfile:
      type: Unconfined
    privileged: false
    runAsGroup: 1000
    runAsUser: 1000
  readinessProbe:
    exec:
      command: [buildctl, --addr, "unix:///run/buildkit/buildkitd.sock", debug, workers]
    initialDelaySeconds: 10
    periodSeconds: 10
  livenessProbe:
    exec:
      command: [buildctl, --addr, "unix:///run/buildkit/buildkitd.sock", debug, workers]
    initialDelaySeconds: 10
    periodSeconds: 10
  image:
    pull_policy: IfNotPresent
    repository: moby/buildkit
    tag: v0.19.0
  replicas: 1
  # templatable driver configmap
  config: ""
  # templatable string which will be used to set environment variables for the driver
  envFrom: ""
  env: ""
  extraVolumes: |
    - name: run
      emptyDir: {}
  extraVolumeMounts: |
    - name: run
      mountPath: /run
  port: 1234
  args:
    - --addr
    - tcp://0.0.0.0:{{ .Values.driver.port }}
    - --addr
    - unix:///run/buildkit/buildkitd.sock
  volumeClaimTemplate:
    accessModes: [ "ReadWriteOnce" ]
    resources:
      requests:
        storage: 25Gi
  api_gateway:
    enabled: false
    parent_gateway:
      name: ""
      namespace: ""
    # scraped by service diccovery to land on the correct service
    hostname_format: my-host-%d.com

# buildkit consistent hash + service discovery
bkch:
  enabled: false
  api_gateway:
    parent_gateway:
      name: ""
      namespace: ""
    # scraped by service diccovery to land on the correct service
    hostname: my-host-bkch.com
  port: 8888
  image:
    pull_policy: IfNotPresent
    repository: ghcr.io/bradfordwagner/bkch
    tag: 1.0.0

argo:
  enabled: false
  disk_maintenance:
    parameters:
      keep_duration: 48h
      prune_timeout: 30s
    cron:
      enabled: true
      schedule: "0 0 * * *" # daily at midnight
  service_account:
    # if enabled creates sa/role/rb required to run the workflow
    # if disabled only creates the role=service_account.name
    create: true
    name: buildkit-workflow
