{{- $driver_name := .Release.Name }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $driver_name }}
  labels: {{- include "selector_labels" . | nindent 6 }}
data:
  # https://docs.docker.com/build/buildkit/configure/
  # https://docs.docker.com/build/buildkit/toml-configuration/
  buildkitd.toml: |
    # root is where all buildkit state is stored.
    root = "/var/lib/buildkit"
    # exposed app configuration
    {{- tpl .Values.driver.config . | nindent 4 }}
